<header class="w-full text-gray-700 py-4 px-6 fixed top-0 left-0 z-50">
  <div class="max-w-7xl mx-auto flex sm:justify-center items-center">

    <!-- Botón hamburguesa -->
    <button (click)="toggleMenu()" class="sm:hidden text-2xl focus:outline-none">
      {{ menuOpen ? '✖' : '☰' }}
    </button>

    <!-- Navegación desktop -->
    <nav class="hidden sm:flex space-x-8 text-lg font-semibold">
      <a routerLink="/" routerLinkActive="border-b-2 border-gray-600"
        [routerLinkActiveOptions]="{ exact: true }"
        class="hover:text-gray-400 transition pb-3">Inicio</a>
      <a routerLink="/about" routerLinkActive="border-b-2 border-gray-600"
        [routerLinkActiveOptions]="{ exact: true }"
        class="hover:text-gray-400 transition pb-3">Sobre mí</a>
      <a routerLink="/proyectos" routerLinkActive="border-b-2 border-gray-600"
        [routerLinkActiveOptions]="{ exact: true }"
        class="hover:text-gray-400 transition pb-3">Proyectos</a>
      <a routerLink="/certificados" routerLinkActive="border-b-2 border-gray-600"
        [routerLinkActiveOptions]="{ exact: true }"
        class="hover:text-gray-400 transition pb-3">Certificados</a>
    </nav>
  </div>

  <!-- Menú mobile -->
  <div *ngIf="menuOpen"
    class="sm:hidden bg-white border border-gray-200 rounded-xl shadow-lg flex flex-col space-y-4 py-5 px-5 text-lg font-semibold animate-slideDown"
  >
    <a routerLink="/" routerLinkActive="text-gray-600" class="hover:text-gray-400 transition-colors" (click)="toggleMenu()">Inicio</a>
    <a routerLink="/about" routerLinkActive="text-gray-600" class="hover:text-gray-400 transition-colors" (click)="toggleMenu()">Sobre mí</a>
    <a routerLink="/proyectos" routerLinkActive="text-gray-600" class="hover:text-gray-400 transition-colors" (click)="toggleMenu()">Proyectos</a>
    <a routerLink="/certificados" routerLinkActive="text-gray-600" class="hover:text-gray-400 transition-colors" (click)="toggleMenu()">Certificados</a>
  </div>
  
</header>
